.preview {
  margin-block-end: var(--margin-section);

  &__inner {
    display: flex;
    column-gap: 25px;
    border-radius: var(--br-text-blocks);
    background: var(--light-color);
    padding: 35px;

    @include tablet {
      row-gap: 10px;
      flex-direction: column;
      padding: 10px;
    }
  }

  &__cover-block {
    display: flex;
    position: relative;
    position: relative;
    row-gap: 5px;
    flex-direction: column;
    align-items: end;
    z-index: 1;
    border-radius: var(--br-input);
    padding-block-start: 9px;
    inline-size: 100%;
    min-inline-size: 450px;
    min-block-size: 351px;

    @include mobile {
      min-inline-size: auto;
      min-block-size: 233px;
    }

    .flag-decor {
      top: 0;
      left: 13px;
    }
  }

  &__cover-img {
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: var(--br-input);
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__info-block {
    .tags-list {
      margin-block-end: 8px;
    }

    .decor-date {
      justify-content: start;
      margin-block-end: 7px;
      padding-inline-start: 16px;
      color: var(--dark-color-text);
      font-size: 13px;

      &__text {
        &::before {
          background: url(../media/icons/calendar.svg) center/contain no-repeat;
        }
      }
    }
  }

  &__description-text-wrapper {
    @include desktop {
      margin-block-end: 10px;
    }
  }

  &__description-text {
    color: var(--dark-color-text);
  }

  &__price-title {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    background: var(--light-color);
    color: black;
    font-size: var(--price-title);
    text-transform: uppercase;

    &::before {
      display: block;
      top: 50%;
      left: 0;
      background: var(--price-decor-color);
      inline-size: 100%;
      max-inline-size: 310px;
      block-size: 1px;
      content: '';

      @include tablet {
        display: none;
      }
    }

    &::after {
      display: block;
      top: 50%;
      right: 0;
      background: var(--price-decor-color);
      inline-size: 100%;
      max-inline-size: 310px;
      block-size: 1px;
      content: '';

      @include tablet {
        display: none;
      }
    }

    @include desktop {
      font-size: 17px;
    }
  }

  &__offers-wrapper {
    display: flex;
    column-gap: 15px;
    margin-block-end: 15px;

    @include tablet {
      row-gap: 6px;
      flex-direction: column;
    }
  }

  &__price-offer {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    justify-content: end;
    border-radius: 11px;
    background: var(--price-bg);
    inline-size: 100%;
    min-block-size: 157px;

    @include tablet {
      column-gap: 20px;
      flex-direction: row-reverse;
      padding-inline-start: 14px;
      min-block-size: auto;
    }
  }

  &__price-offer-text {
    text-align: center;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      inline-size: 100%;
    }
  }

  &__old-price {
    position: relative;
    color: var(--old-price);
    font-weight: 900;
    font-size: 15px;
    line-height: 1;
    font-family: var(--font-rest);
    text-decoration: none;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      background: var(--alt-accent-color);
      inline-size: 100%;
      block-size: 1px;
      content: '';
    }
  }

  &__new-price {
    display: flex;
    flex-direction: column;
    color: var(--dark-color-text);
    font-weight: 900;
    font-size: 28px;
    line-height: 1;
    font-family: var(--font-rest);
  }

  &__price-details {
    color: var(--dark-color-text);
    font-weight: 400;
    font-size: 16px;
  }

  &__prices-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row-reverse;
      align-items: start;
    }
  }

  &__button-trial {
    transition: var(--transition-duration);
    border-radius: 0 0 11px 11px;
    background: linear-gradient(180deg, #9db93b 50%, #46531a 279.76%);
    inline-size: 100%;
    min-block-size: 42px;
    color: var(--light-color);
    font-size: 24px;
    font-family: var(--font-rest);
    text-transform: uppercase;

    @include flex-center;
    @include hover {
      opacity: 0.8;
    }

    @include tablet {
      background: transparent;
      max-inline-size: 39px;
      min-block-size: auto;
      color: var(--accent-color);
      font-size: 15px;
    }
  }

  &__button-visit {
    transition: var(--transition-duration);
    border-radius: var(--br-big-button);
    background: linear-gradient(180deg, #e50040 0%, #7f0023 231.67%);
    min-block-size: 60px;
    color: var(--light-color);
    font-size: 36px;
    font-family: var(--font-accent);
    text-transform: uppercase;

    @include flex-center;
    @include hover {
      opacity: 0.8;
    }
  }

  &__button-visit--hidden.hide {
    transform: translateY(-100px);
  }

  &__button-visit--hidden {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(0);
    z-index: 99;
    transition: transform 0.5s ease;
    margin: 10px auto 0;
    inline-size: 100%;
    max-inline-size: 500px;

    @include mobile {
      max-inline-size: calc(100% - 40px);
    }
  }
}
