.section-title {
  position: relative;
  margin-block-end: 10px;
  padding-inline-start: 10px;
  color: var(--dark-color-text);
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  font-family: var(--font-rest);
  letter-spacing: -1.5px;
  text-transform: uppercase;

  &::before {
    display: block;
    position: absolute;
    bottom: calc(50% - 7px);
    left: 0;
    border-radius: 3px 0 0 3px;
    background: var(--accent-color);
    inline-size: 5px;
    block-size: 14px;
    content: '';
  }

  @include mobile-sm {
    margin-block-end: 5px;
    text-align: center;

    &::before {
      display: none;
    }
  }

  &__decor {
    color: var(--alt-accent-color);
  }
}

.navigation {
  min-block-size: inherit;

  @include mobile {
    inline-size: 100%;
    min-block-size: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-inline-end: 10px;
    min-block-size: inherit;

    @include desktop {
      row-gap: 10px;
      flex-direction: column;
      align-items: start;
    }
  }

  &__list-item {
    min-block-size: inherit;

    @include desktop {
      min-block-size: 100%;
    }

    @include mobile {
      inline-size: 100%;
      min-block-size: 100%;
    }
  }

  &__list-link {
    column-gap: 5px;
    padding-inline: 15px;
    block-size: 100%;
    min-block-size: inherit;
    color: var(--light-color);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

    @include flex-center;

    @include desktop {
      display: none;
      justify-content: start;
      padding-inline: 0;
      color: var(--burger-text);
    }

    .icon {
      fill: var(--accent-color);
    }

    @include hover {
      transition: var(--transition-duration);
      background: var(--accent-color);

      .icon {
        fill: var(--light-color);
      }

      @include tablet {
        background: transparent;

        .icon {
          fill: var(--accent-color);
        }
      }
    }
  }
}

.select-language {
  margin-inline-end: 10px;
}

.input-wrapper {
  @include w-full(270px);
  position: relative;

  &::after {
    display: block;
    position: absolute;
    top: calc(50% - 9px);
    right: 9px;
    background: url(../media/icons/magnifier.svg) center/contain no-repeat;
    content: '';

    @include square(18px);
  }

  &__input {
    outline: transparent;
    border: none;
    border-radius: var(--br-input);
    background: var(--bg-input);
    padding: 7px 30px 7px 10px;
    inline-size: 100%;
    block-size: var(--input-height);

    &:focus {
      transition: var(--transition-duration);
      background: var(--light-color);
    }
  }
}

.grid-button {
  display: none;

  @include mobile {
    display: block;
    border: none;
    background: none;
  }
}

.grid-line {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  color: var(--question-text-color);
  font-weight: 500;
  font-size: 13px;
}

.grid {
  @include mobile {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
  }
}

.grid--active {
  @include mobile {
    grid-template-rows: 1fr;
    opacity: 1;
    padding-block-start: 5px;
  }
}

.dialog {
  position: absolute;
  top: 45px;
  left: 25.5%;
  margin: 0;
  border: 1px solid var(--bg-color);
  border-radius: var(--br-text-blocks);
  padding: 0;
  inline-size: 70%;
  block-size: 90%;
  content: '';
  text-align: center;

  &::backdrop {
    background-color: rgb(0 0 0 /0.8);
  }

  &__inner {
    padding: 30px 37px;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 1px solid transparent;
      border-radius: 12px;
      background-color: #d9d9d9;
    }
  }

  &__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-block-end: 12px;
  }
}

.favorite-categories {
  &__title {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-block-end: 5px;
    color: var(--dark-color-text);
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    text-transform: capitalize;

    &::before {
      background: var(--alt-accent-color);
      inline-size: 5px;
      block-size: 15px;
      content: '';
    }
  }

  &__list {
    padding-inline-start: 23px;
    text-align: left;
  }

  &__list-link {
    display: inline-block;
    position: relative;
    color: var(--dark-color-text);
    font-weight: 500;
    font-size: 13px;

    &::before {
      display: block;
      position: absolute;
      top: calc(50% - 4px);
      left: -14px;
      background: url(../media/icons/red-arrow.svg) center/contain no-repeat;
      inline-size: 10px;
      block-size: 8px;
      content: '';
    }

    @include hover {
      transition: var(--transition-duration);
      color: var(--alt-accent-color);
    }
  }
}

.burger-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #36333387;
  inline-size: 100%;
  block-size: 100vh;
}

.burger-overlay--active {
  display: block;
}

.burger-menu {
  display: block;
  position: absolute;
  top: 42px;
  left: -100vw;
  z-index: 10;
  transition: var(--transition-duration);
  inline-size: 100%;
  max-inline-size: 251px;
  content: '';

  &__header {
    display: flex;
    column-gap: 10px;
    align-items: center;
    background: var(--dark-color);
    padding-inline-start: 10px;
    min-block-size: 42px;
  }

  &__content {
    background: var(--light-gray);
    padding-block: 10px;
    block-size: 100%;
    block-size: 100svh;
    overflow-y: auto;
  }

  &__content-wrapper {
    display: flex;
    row-gap: 10px;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    block-size: 100%;
  }

  &__categories {
    background: var(--light-color);
    padding-block: 13px 100px;
    inline-size: 100%;
    block-size: 100svh;
    overflow-y: auto;

    .favorite-categories__list-title {
      column-gap: 16px;
    }

    .favorite-categories__list {
      margin-block-end: 12px;
      padding-inline-start: 40px;
    }
  }

  &__wrapper-nav {
    display: flex;
    row-gap: 10px;
    flex-direction: column-reverse;
    padding-inline: 12px;
    inline-size: 100%;

    .navigation__list-link {
      display: inline-flex;
    }
  }
}

.burger-menu--active {
  left: 0;
  block-size: 100%;

}

.choices {
  border: 1px solid transparent;

  @include tablet {
    max-inline-size: 100%;
  }
}

.site-article {
  position: relative;
  border-radius: var(--br-previews);
  background: var(--light-color);
  padding: 4px;
  min-block-size: 292px;

  &__cover-block {
    display: flex;
    position: relative;
    row-gap: 5px;
    flex-direction: column;
    align-items: end;
    margin-block-end: 5px;
    border-radius: var(--br-previews) var(--br-previews) 0 0;
    background: url(../media/pages/reviews/site-article-cover.jpg) center/cover no-repeat;
    padding-block-start: 5px;
    inline-size: 100%;
    min-block-size: 152px;
  }

  &__name {
    display: flex;
    column-gap: 5px;
    margin-block-end: 5px;
  }

  &__link-review {
    transition: var(--transition-duration);
    color: var(--alt-accent-color);
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;

    @include hover {
      opacity: 0.8;
    }
  }

  &__link {
    @include hover {
      opacity: 0.8;
      transition: var(--transition-duration);
    }
  }

  &__description {
    @include w-full(477px);
  }
}

.flag-decor {
  display: flex;
  position: absolute;
  top: -4px;
  left: 4px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 0 0 7px 7px;
  background: linear-gradient(180.25deg, #9db93b 0.22%, #46531a 177.12%);
  padding-block-end: 5px;
  inline-size: 49px;
  block-size: 56px;
  color: var(--light-color);
  font-size: 16px;
  line-height: 1;
  font-family: var(--font-accent);
  letter-spacing: 0.5px;
  text-align: center;

  @include mobile {
    left: 7px;
  }

  &__text {
    font-size: 24px;
    line-height: 1;
  }
}

.decor-date {
  display: flex;
  justify-content: end;

  &__text {
    display: inline-block;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      top: calc(50% - 7px);
      left: -16px;
      background: url(../media/icons/gray-calendar.svg) center/contain no-repeat;
      content: '';

      @include square(11px);
    }
  }
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-block-end: 5px;

  &__tag {
    transition: var(--transition-duration);
    border: 1px solid var(--accent-color);
    border-radius: var(--br-button);
    padding-inline: 10px;
    min-block-size: 17px;
    font-size: 11px;
    inline-size: 100%;

    @include flex-center;
    @include hover {
      background: var(--accent-color);
      color: var(--light-color);
    }
  }
}

.cover-tag {
  margin-inline-end: 5px;
  border-radius: var(--br-button);
  background: var(--light-color);
  padding-inline: 8px;
  min-block-size: 20px;
  color: var(--alt-accent-color);
  font-size: 15px;
  line-height: 1;
  font-family: var(--font-accent);
  text-transform: uppercase;

  @include flex-center(true);
}

.cover-tag--blue {
  color: var(--blue-tag);
}

.cover-tag--orange {
  color: var(--orange-tag);
}

.pros-list {
  display: flex;
  row-gap: 9px;
  flex-direction: column;
  margin-block-end: 25px;

  &__item {
    display: flex;
    column-gap: 9px;
    align-items: center;
    padding-block-end: 11px;
    color: var(--dark-color-text);
    font-size: 16px;

    &::before {
      background: url(../media/icons/pros.svg) center/contain no-repeat;
      inline-size: 34px;
      block-size: 31px;
      content: '';
      font-size: 30px;

      @include flex-center;
    }
  }

  &__item:not(:last-child) {
    border-block-end: var(--border-gray);
  }

  &__item--cons {
    &::before {
      background: url(../media/icons/cons.svg) center/contain no-repeat;
    }
  }
}

.score-list {
  @include w-full(232px);
  margin-inline: auto;
  margin-block-end: 40px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
    font-family: var(--font-accent);
  }

  &__item-text {
    color: var(--burger-text);
  }

  &__score-block {
    display: flex;
    column-gap: 14px;
    align-items: center;
  }
}

.description-list {
  &__line {
    display: flex;
    justify-content: space-between;
    margin-block-end: 7px;
    border-block-end: var(--border-gray);
    padding-block-end: 3px;
    font-size: 16px;
  }

  &__line-key {
    color: var(--dark-color-text);
  }
}

.site-list {
  counter-reset: custom-counter;
  margin-block-end: 25px;
  list-style: none;

  &__item {
    display: block;
    position: relative;
    counter-increment: custom-counter;
    margin-block-end: 5px;
    border-block-end: var(--border-gray);
    padding-inline-start: 10px;

    &::before {
      content: '1';

      color: var(--dark-color-text);
      font-weight: 900;
      font-size: 14px;
    }

    &::after {
      position: absolute;
      top: calc(50% - 5px);
      left: -2px;
      background: url(../media/icons/red-arrow.svg) center/contain no-repeat;
      content: '';

      @include square(9px);
    }
  }

  &__link-wrapper {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }

  &__grade-block {
    display: flex;
    column-gap: 3px;
    margin-inline-start: auto;
    color: var(--accent-color);
  }

  &__grade {
    font-weight: 900;
  }

  &__item--flex {
    display: flex;
    align-items: center;
  }

  &__procent-info {
    color: var(--accent-color);
  }

  &__link {
    font-size: 14px;
  }
}

.stars-wrapper {
  display: flex;
  column-gap: 4px;
}

.table {
  inline-size: 100%;

  &__header &__cell {
    background: var(--table-background);
    color: var(--accent-color);
  }

  &__body &__row:nth-child(odd) {
    background: var(--table-background);
  }

  &__body &__row:nth-child(even) {
    background: var(--table-background-alt);
  }

  &__cell-inner {
    display: flex;
    column-gap: 9px;
  }

  &__item-link {
    display: flex;
    align-items: baseline;

    &::before {
      display: block;
      background: url(../media/icons/red-arrow.svg) center / contain no-repeat;
      content: '';

      @include square(9px);
    }
  }

  &__cell {
    min-inline-size: 160px;
  }
}

