.section-title {
  position: relative;
  margin-block-end: 10px;
  padding-inline-start: 10px;
  color: var(--dark-color-text);
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  font-family: var(--font-rest);
  letter-spacing: -1.5px;
  text-transform: uppercase;

  &::before {
    display: block;
    position: absolute;
    bottom: calc(50% - 7px);
    left: 0;
    border-radius: 3px 0 0 3px;
    background: var(--accent-color);
    inline-size: 5px;
    block-size: 14px;
    content: '';
  }

  @include mobile-sm {
    text-align: center;

    &::before {
      display: none;
    }
  }
}

.navigation {
  min-block-size: inherit;

  @include mobile {
    inline-size: 100%;
    min-block-size: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-inline-end: 10px;
    min-block-size: inherit;

    @include desktop {
      row-gap: 10px;
      flex-direction: column;
      align-items: start;
    }
  }

  &__list-item {
    min-block-size: inherit;

    @include desktop {
      min-block-size: 100%;
    }

    @include mobile {
      inline-size: 100%;
      min-block-size: 100%;
    }
  }

  &__list-link {
    column-gap: 5px;
    padding-inline: 15px;
    block-size: 100%;
    min-block-size: inherit;
    color: var(--light-color);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

    @include flex-center;

    @include desktop {
      display: none;
      justify-content: start;
      padding-inline: 0;
      color: var(--burger-text);
    }

    .icon {
      fill: var(--accent-color);
    }

    @include hover {
      transition: var(--transition-duration);
      background: var(--accent-color);

      .icon {
        fill: var(--light-color);
      }

      @include tablet {
        background: transparent;

        .icon {
          fill: var(--accent-color);
        }
      }
    }
  }
}

.select-language {
  margin-inline-end: 10px;
}

.input-wrapper {
  @include w-full(270px);
  position: relative;

  &::after {
    display: block;
    position: absolute;
    top: calc(50% - 9px);
    right: 9px;
    background: url(../media/icons/magnifier.svg) center/contain no-repeat;
    content: '';

    @include square(18px);
  }

  &__input {
    outline: transparent;
    border: none;
    border-radius: var(--br-input);
    background: var(--bg-input);
    padding: 7px 30px 7px 10px;
    inline-size: 100%;
    block-size: var(--input-height);

    &:focus {
      transition: var(--transition-duration);
      background: var(--light-color);
    }
  }
}

.dialog {
  position: absolute;
  top: 45px;
  left: 25.5%;
  margin: 0;
  border: 1px solid var(--bg-color);
  border-radius: var(--br-text-blocks);
  padding: 0;
  inline-size: 70%;
  block-size: 90%;
  content: '';
  text-align: center;

  &::backdrop {
    background-color: rgb(0 0 0 /0.8);
  }

  &__inner {
    padding: 30px 37px;
    height: 100%;
    overflow-y: auto;
  }

  &__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-block-end: 12px;
  }
}

.favorite-categories {
  &__title {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-block-end: 5px;
    color: var(--dark-color-text);
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    text-transform: capitalize;

    &::before {
      background: var(--alt-accent-color);
      inline-size: 5px;
      block-size: 15px;
      content: '';
    }
  }

  &__list {
    padding-inline-start: 23px;
    text-align: left;
  }

  &__list-link {
    display: inline-block;
    position: relative;
    color: var(--dark-color-text);
    font-weight: 500;
    font-size: 13px;

    &::before {
      display: block;
      position: absolute;
      top: calc(50% - 4px);
      left: -14px;
      background: url(../media/icons/red-arrow.svg) center/contain no-repeat;
      inline-size: 10px;
      block-size: 8px;
      content: '';
    }

    @include hover {
      transition: var(--transition-duration);
      color: var(--alt-accent-color);
    }
  }
}

.burger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--transition-duration);
  transition-behavior: allow-discrete;
  background: #36333387;
  inline-size: 100%;
  block-size: 100vh;

  &__wrapper {
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 10;
    transition: var(--transition-duration);
    inline-size: 100%;
    max-inline-size: 251px;
    block-size: 100%;
    content: '';
  }

  &__header {
    display: flex;
    column-gap: 10px;
    align-items: center;
    background: var(--dark-color);
    padding-inline-start: 10px;
    min-block-size: 42px;
  }

  &__btn-wrapper {
    padding-block: 10px;
  }

  &__wrapper--active {
    left: 0;
    transition: var(--transition-duration);
  }

  &__content {
    background: var(--light-gray);
    padding-block: 10px;
    block-size: 100%;
    block-size: 100svh;
    overflow-y: auto;
  }

  &__content-wrapper {
    display: flex;
    row-gap: 10px;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    block-size: 100%;
  }

  &__categories {
    background: var(--light-color);
    padding-block: 13px 100px;
    inline-size: 100%;
    block-size: 100svh;
    overflow-y: auto;

    .favorite-categories__list-title {
      column-gap: 16px;
    }

    .favorite-categories__list {
      margin-block-end: 12px;
      padding-inline-start: 40px;
    }
  }

  &__wrapper-nav {
    display: flex;
    row-gap: 10px;
    flex-direction: column-reverse;
    padding-inline: 12px;
    inline-size: 100%;

    .navigation__list-link {
      display: inline-flex;
    }
  }
}

.burger-menu--active {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.burger-btn {
  display: flex;
  position: relative;
  transition: all 0.4s ease;
  border: none;
  background: var(--burger-button);
  padding-inline-start: 0;
  inline-size: 20px;
  block-size: 2px;

  &::before,
  &::after {
    position: absolute;
    transition: all 0.4s ease;
    background: var(--burger-button);
    inline-size: 20px;
    block-size: 2px;
    content: '';
  }

  &::before {
    translate: 0 -7px;

    @include mobile {
      translate: 0 -5px;
    }
  }

  &::after {
    translate: 0 5px;
  }
}

.burger-btn--close {
  translate: -35px 0;
  background: transparent;

  &::before {
    translate: 35px 0;
    rotate: 45deg;
  }

  &::after {
    translate: 35px 0;
    rotate: -45deg;
  }
}

.choices {
  border: 1px solid transparent;

  @include tablet {
    max-inline-size: 100%;
  }
}
