:root {
  /* colors */
  --accent-color: #9db93b;
  --alt-accent-color: #e50040;

  --dark-color: #111;
  --light-color: #fff;
  --bg-color: #d5d5d5;

  --dark-color-text: #494949;
  --light-color-text: #909090;
  --dark-gray-text: #4b4b4b;
  --alt-dark-gray-text: #7d7d7d;
  --light-gray-text: #cbcbcb;
  --copyright-color-text: #3e3e3e;
  --bg-input: #dfdfdf;
  --question-text-color: #575757;
  --light-gray: #efefef;
  --light-button: #f9f9f9;
  --burger-button: #d9d9d9;
  --pink-hover: #ea3473;
  --burger-text: #515151;
  --blue-tag: #24abff;
  --orange-tag: #e89817;
  --calendar-icon: #c3c3c3;
  --price-decor-color: #dbdbdb;
  --old-price: #a2a2a2;
  --table-background: #f1f1f1;
  --table-background-alt: #ebebeb;
  --price-bg: #f7f7f7;
  --list-bg: #f8f8f8;

  /* fonts */
  --font-base: 'Roboto', sans-serif;
  --font-accent: 'BebasNeue', sans-serif;
  --font-base-alt: 'RobotoCondensed', sans-serif;
  --font-rest: 'HalisR', sans-serif;

  --transition-duration: 0.3s;

  /* container */
  --container-width: 1519px;
  --container-padding-x: 20px;

  // sizes
  --header-height: 42px;
  --input-height: 28px;

  // border-radius
  --br-text-blocks: 3px;
  --br-input: 6px;
  --br-button: 4px;
  --br-previews: 5px;
  --br-big-button: 9px;

  // border
  --border-gray: 1px solid #dbdbdb;

  // shadow
  --site-preview-shadow: inset 0px 0px 4px 0px #00000063;

  // spaces
  --margin-section: 10px;
}
