.recomendations {
  margin-block-end: 90px;

  @include mobile {
    margin-block-end: 16px;
  }

  &__content {
    border-radius: var(--br-text-blocks);
    background: var(--light-color);
    padding: 8px 12px 43px;
  }

  &__text {
    margin-block-end: 5px;

    @include mobile-sm {
      margin-block-end: 10px;
      border-block-end: var(--border-gray);
      padding-block-end: 5px;
    }
  }

  &__site-list-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__cover-block {
    margin-block-end: 5px;
    box-shadow: var(--site-preview-shadow);
    border-radius: 5px;
    background: url(../media/previews/girl-2.jpg) center/cover no-repeat;
    min-block-size: 95px;
    border: 1px solid transparent;

    @include flex-center;
    @include hover {
      border-color: var(--alt-accent-color);

      & > p {
        transition: var(--transition-duration);
        color: var(--pink-hover);
      }
    }
  }

  &__cover-text {
    color: var(--light-color);
    font-weight: 900;
    font-size: 20px;

    text-transform: uppercase;
  }

  &__site-text {
    color: var(--dark-gray-text);

    @include mobile-sm {
      border-block-end: var(--border-gray);
      padding-block-end: 5px;
    }
  }

  &__site-link {
    color: var(--alt-accent-color);
  }
}
