.header {
  position: relative;
  margin-block-end: 15px;
  background: var(--dark-color);

  &__inner {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    min-block-size: var(--header-height);

    @include desktop {
      justify-content: stretch;
    }
  }

  &__burger-block {
    display: none;
    padding-block: 10px;

    @include desktop {
      display: block;
    }
  }

  &__content-block {
    display: flex;
    justify-content: end;
    align-items: center;
    inline-size: 100%;
    min-block-size: var(--header-height);

    @include desktop {
      display: none;
    }
  }
}
