.header {
  position: relative;
  margin-block-end: 15px;
  background: var(--dark-color);
  z-index: 10;

  &__inner {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    min-block-size: var(--header-height);

    @include desktop {
      justify-content: stretch;
    }
  }

  &__burger-block {
    display: none;
    position: relative;
    inline-size: 20px;
    block-size: 16px;

    @include desktop {
      display: block;
    }
  }

  &__burger-item {
    display: block;
    position: absolute;
    transition: all 0.4s ease-in-out;
    border: none;
    background: var(--burger-button);
    padding-inline-start: 0;
    inline-size: 100%;
    block-size: 2px;
  }

  &__burger-item--one {
    top: 0;
  }

  &__burger-item--two {
    top: calc(50% - 1px);
  }

  &__burger-item--three {
    bottom: 0;
  }

  &__burger-block.is-open &__burger-item--one {
    transform-origin: 5%;
    rotate: 45deg;
    inline-size: 22px;
  }

  &__burger-block.is-open &__burger-item--two {
    transform: translateX(-40px);
    background-color: transparent;
  }

  &__burger-block.is-open &__burger-item--three {
    transform: rotate(-45deg);
    transform-origin: 5%;
    inline-size: 22px;
  }

  &__content-block {
    display: flex;
    justify-content: end;
    align-items: center;
    inline-size: 100%;
    min-block-size: var(--header-height);

    @include desktop {
      display: none;
    }
  }
}
